.Blog-Categories-Container{
    display: flex;
    flex-wrap: wrap;
}
.Blog-Categories-Container h1{
    font-size: 20px;
}
.Blog-Categories-Cards{
    align-items: center;
    text-align: center;
    margin: 30px;
    background-color: #f1f1f1;
    width: 300px;
    height: 300px;
}